@use "../css/variables" as *;
@import "../fonts/Inter/stylesheet.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'inter', sans-serif;
    color: #1B242C;
    font-weight: 400;
    font-size: 1rem;
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
}


.p-0 {
    padding: 0 !important;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.default-color {
    color: #1B242C !important;
}

.sidebar {
    background-image: linear-gradient(to right, #eeeafc, #f4f2fb);
    backdrop-filter: blur(.5rem);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .logo-toggle-wrapper {
        position: relative;

        .q3-logo {
            display: flex;
        }

        .collapsed-toggle-icon {
            background-color: #fff;
            opacity: 0.8;
            position: absolute;
            bottom: -2.5rem;
            right: -2rem;
        }
    }

    &.sidebar-expanded {
        padding: 1rem;
        width: 16.875rem;

    }

    &.sidebar-collapsed {
        padding: 1rem .75rem;
        width: 4.5rem;

        .links-wrapper {

            .MuiSvgIcon-root {
                display: none;
            }

            .MuiListItemText-root {
                display: none;


            }
        }

        .user-theme-wrapper {
            .user-name {
                display: none;
            }

            .user-btn {
                display: none;
            }

            .theme-wrappper {
                width: 2.5rem;
                height: 2.5rem;
                align-items: center;
                justify-content: center;

                .MuiButtonBase-root {
                    width: 1.85rem;
                    height: 1.85rem;

                    .default-text {
                        display: none;
                    }

                    &:not(.Mui-selected) {
                        display: none;
                    }
                }
            }

        }

    }

    .links-wrapper {
        margin-top: 40px;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .MuiButtonBase-root {
            gap: .75rem;
            border-radius: .375rem;
            padding: 0 .875rem;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.25;
            letter-spacing: 0;
            background-color: transparent;
            height: 2.5rem;

            &:hover {
                box-shadow: 0px 4px 10px 0px #0000000F;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.4) 95%);
                color: #1B242C;
            }

            .MuiListItemIcon-root {
                min-width: auto;
                width: 1.25rem;
                height: 1.25rem;
            }
        }
    }

    .user-theme-wrapper {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        color: #1B242C;

        .user-image {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
        }

        .user-name {
            color: #1B242C;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.25rem;
        }

        .user-btn {
            margin-left: auto;
        }

        .theme-wrappper {
            display: flex;
            padding: 0.25rem;
            background-color: #fff;
            width: 100%;
            height: 40px;
            border-radius: 50px;

            .MuiButtonBase-root {
                flex: 1 1 auto;
                border: 0;
                padding: 0.5rem;
                border-radius: 50px;
                font-weight: 500;
                font-size: .875rem;
                line-height: 1.5;
                letter-spacing: 0;
                background-color: #fff;
                display: flex;
                gap: .5rem;
                align-items: center;
                justify-content: center;

                &.Mui-selected {
                    background-color: #F5F7F9;
                }

                .MuiSvgIcon-root {
                    width: 1.125rem;
                    height: 1.125rem;
                }

                .default-text {
                    text-transform: capitalize;
                }
            }
        }
    }

}

.main-wrapper {
    padding: 1.5rem 2rem;
    flex-grow: 1;
}


// No Datastore Found.
.common-button {
    background: linear-gradient(180deg, #2E4ACD 0%, #4364FF 100%) !important;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #5876FF 0%, #2641BE 100%);
    border-radius: 8px !important;
    color: #fff;
    font-size: 18px !important;
    line-height: 30px !important;
    font-weight: 600 !important;
    text-transform: none !important;
    font-family: 'Inter', sans-serif !important;
    box-shadow: none !important;
    letter-spacing: 0 !important;
    padding: 10px 20px !important;
}

.page-title {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
}

.title-with-arrow {
    margin-bottom: 1.5rem;

    .icon-button-arrow {
        border: 1px solid #9EA8B3;
        padding: 12px !important;
        border-radius: 6px;
    }
}

.nodatestoresfound {
    border: 1px solid #DEE3E7;
    padding: 80px;
    border-radius: 16px;

    .nodatestoresfound-inner {
        max-width: 579px;
        margin: 0 auto;
        text-align: center;

        .nodatastore-icon-wrap {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border: 1px solid #DEE3E7;
            border-radius: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
        }

        h1 {
            font-size: 24px;
            line-height: 28px;
            color: #1B242C;
            margin-bottom: 8px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            color: #555F6D;
            margin-bottom: 20px;
        }
    }
}
