:root {
    --white-color: #fff;
    --table-header-bg: #F1F3F5;
    --table-cell-text-color: #1B242C;
    --table-row-hover: #fbfbfb;
    --table-cell-border-color: #CFD6DD;
    --checkbox-border-color: #7D8B99;
    --checked-checkbox-fill: #2E4ACD;
    --table-showing-data-color: #3B424A;
}